html,
body {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
body{
  background-color: whitesmoke;
}
ul,
figure{
  margin: 0;
  padding:0;
}

#content{
  max-width: 950px;
  margin: 0 auto;
  padding: 1rem 0;
}
#reading-list{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  gap:1.5rem;
}
.book{
width: 31%;
padding: 1.5rem;
border-radius: 0.5rem;
background-color: white;
}
.book.read{
  background-color: red;
}
.book_image{
  height:20rem;
  display: flex;
  justify-content: center;
}
img{
  width: auto ;
  height: 100%;
}

